<form class="skill-roll-dialog">
    <div class="property flexrow">
        <label class="property-label">{{localize "rank"}}</label>
        <label class="property-label">{{career.data.rank}}</label>
    </div>
    {{> "systems/bol/templates/roll/parts/roll-dialog-attribute.hbs"}}
    {{> "systems/bol/templates/roll/parts/roll-dialog-modifiers.hbs"}}
</form>
