<h3 class="form-header">{{localize 'BOL.featureSubtypes.boon'}}</h3>
<div class="property flexrow">
    <label class="property-label">{{localize "BOL.ui.isbonusdice"}}</label>
    <input class="field-value" type="checkbox" name="data.properties.isbonusdice" {{checked data.properties.isbonusdice}}>
</div>
