<h3 class="form-header">{{localize 'BOL.featureSubtypes.career'}}</h3>
<div class="property flexrow">
    <label class="property-label">{{localize "BOL.ui.rank"}}</label>
    <input type="text" name="data.rank" value="{{data.rank}}" data-dtype="Number"/>
</div>
