<h3 class="form-header">{{localize 'BOL.featureSubtypes.flaw'}}</h3>
<div class="property flexrow">
    <label class="property-label">{{localize "BOL.ui.ismalusdice"}}</label>
    <input class="field-value" type="checkbox" name="data.properties.ismalusdice" {{checked data.properties.ismalusdice}}>
</div>
