<div class="property flexrow">
    <label class="property-label">{{localize "BOL.ui.subtype"}}</label>
    <select name="data.subtype" value="{{data.subtype}}" data-dtype="String">
        {{#select data.subtype}}
            {{#each config.featureSubtypes as |item id|}}
                <option value="{{id}}">{{localize item}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

{{#if (equals data.subtype "career")}}
    {{> "systems/bol/templates/item/parts/properties/feature/career-properties.hbs"}}
{{/if}}
{{!#if (equals data.subtype "origin")}}
    {{!> "systems/bol/templates/item/parts/properties/feature/origin-properties.hbs"}}
{{!/if}}
{{!#if (equals data.subtype "race")}}
    {{!> "systems/bol/templates/item/parts/properties/feature/race-properties.hbs"}}
{{!/if}}
{{#if (equals data.subtype "boon")}}
    {{> "systems/bol/templates/item/parts/properties/feature/boon-properties.hbs"}}
{{/if}}
{{#if (equals data.subtype "flaw")}}
    {{> "systems/bol/templates/item/parts/properties/feature/flaw-properties.hbs"}}
{{/if}}
