<div class="form-group">
    <label class="property-label">{{localize "BOL.ui.category"}}</label>
    <div class="form-fields">
        <select class="field-value" name="data.category" value="{{data.category}}" data-dtype="String">
            {{#select data.category}}
                {{#each config.itemCategories as |item id|}}
                    <option value="{{id}}">{{localize item}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{#if (equals data.category "equipment")}}
    {{> "systems/bol/templates/item/parts/properties/item/equipment-properties.hbs"}}
{{/if}}
{{#if (equals data.category "capacity")}}
    {{> "systems/bol/templates/item/parts/properties/item/capacity-properties.hbs"}}
{{/if}}
{{#if (equals data.category "vehicle")}}
    {{> "systems/bol/templates/item/parts/properties/item/vehicle-properties.hbs"}}
{{/if}}
