<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-name flex2">{{localize "BOL.ui.maneuvers"}}</div>
    </li>
    <li class="item flexrow"><div class="item-image roll-weapon"><img src="icons/skills/melee/unarmed-punch-fist.webp" title="Attaque à mains nues"/></div><h4 class="item-name flex2"><a class="item-edit">Attaque à mains nues</a></h4></li>
</ol>

