<h3 class="form-header">{{localize "BOL.ui.spellProperties"}}</h3>
<div class="form-group">
    <div class="form-fields">
      <label class="property-label">{{localize "BOL.ui.difficulty"}}111</label>
      <input class="field-value" type="text" name="data.properties.difficulty" value="{{data.properties.difficulty}}" data-dtype="Number"/>
    </div>
</div>