<h3 class="form-header">{{localize "BOL.ui.weapon"}}</h3>

{{#if data.properties.melee}}
    {{> "systems/bol/templates/item/parts/properties/melee-properties.hbs"}}
{{/if}}
{{#if data.properties.ranged}}
    {{> "systems/bol/templates/item/parts/properties/ranged-properties.hbs"}}
{{/if}}
