<img class="chat-icon" src="{{weapon.img}}" alt="{{weapon.name}}"/>
<h3><strong>Dommages de l'arme : {{damage}}</strong>
{{!#if hasDescription}}
<!--<h4>-->
<!--    <pre class="rollDescr-line">{{!description}}</pre>-->
<!--</h4>-->
{{!/if}}