    {{#if fightOption}}
    <div class="flexrow roll-box">
        <div class="flex1 center bg-darkred">
            <label for="fg">{{localize 'BOL.ui.fightOption'}}</label>
        </div>
        <div class="flex1 center cell">
          {{fightOption.name}}
        </div>
    </div>
    {{/if}}
