    {{#if (count flaws)}}
    <div class="flexrow roll-box">
        <div class="flex1 center bg-darkred">
            <label for="mod">{{localize 'BOL.ui.flaws'}}</label>
        </div>
        <div class="flex1 center cell">
            <select class="flex1" name="flaw" id="flaw" data-type="String" multiple>
                {{#each flaws as | flaw id|}}
                    <option value="1">{{flaw.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    {{/if}}
