    <div class="flexrow" style="margin-bottom: 1px;">
        <div class="flex1 center bg-darkred">
            <label for="mod">{{localize 'BOL.ui.modifiers'}}</label>
        </div>
        <div class="flex1 center cell">
          <select name="mod" id="mod"  value="{{mod}}">
            {{#select mod}}
            <option value="2">Trés Facile (+2)</option>
            <option value="1">Facile (+1)</option>
            <option value="0">Moyenne (0)</option>
            <option value="-1">Ardue (-1)</option>
            <option value="-2">Difficile (-2)</option>
            <option value="-4">Très Difficile (-4)</option>
            <option value="-6">Impossible (-6)</option>
            <option value="-8">Héroïque (-8)</option>
            {{/select}}
          </select>
        </div>
    </div>
