<div class="flexrow" style="margin-bottom: 1px;">
  <div class="flex1 center bg-darkred">
    <label for="mod">{{localize 'BOL.ui.nbdices'}}</label>
  </div>
  <div class="flex1 center cell">
    <input class="flex1" type="text" id="roll-nbdice" value="2" disabled>
  </div>
</div>
<div class="flexrow" style="margin-bottom: 1px;">
  <div class="flex1 center bg-darkred">
    <label for="mod">{{localize 'BOL.ui.totalmod'}}</label>
  </div>
  <div class="flex1 center cell">
    <input class="flex1" type="text" id="roll-modifier" value="0" disabled>
  </div>
</div>