@import "global/flex";
@import "global/forms";
@import "global/typography";
@import "global/item-list";
@import "global/colors";
@import 'global/chat';

@logo-width: 190px;
@logo-height: 115px;
@deco-width: 330px;
@deco-height: 62px;
@attributes-width: 64px;
@attributes-height: 64px;
@footer-height: 30px;
@sidebar-width: 250px;

.bol {
  &.sheet {
    @import 'components/common';
    &.actor {
      @import 'components/actor';
      min-width: 820px;
      min-height: 700px;
      height: 700px;
    }
    &.item {
      @import 'components/item';
      //background-color: white;
      min-width: 460px;
      min-height: 400px;
    }
  }
  &.dialog {
    .sheet-header{
      h3 {
        font-family: @font-tertiary;
        font-size: 24px;
        color: black;
      }
    }
  }
}

.editor, .editor-content {
  height: 100%;
}

.rollable {
  //color: @colorOlive;
  cursor: pointer;
}

.chat-message .chat-icon {
  float:right;
  border:1px outset lightgray;
  box-shadow: 3px 3px 3px black;
  margin: 3px;
  //flex : 0 0 64px;
  width: 64px;
  height: 64px;
}


